/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

header { background: red; }
body { padding-top: 100px;
       background: #e2b29f; }
footer { margin-top: 150px;
	margin-bottom: 5px; 
	padding-top: 50px;
	background: #891919; }
.RailsGirls2013 { position: relative;
		  text-align: center;
		  padding-bottom: 25px;
		  font-family: "Verdana"; 
		  font-size: 25px;
		  font-color: #000000; }

table, td, th { vertical-align: middle !important; border: none !important; }
th { border-bottom: 1px solid #DDD !important; }


